.learn-words-app-url-record-page {
  button.paste-btn {
    padding: 0;
    margin: 0;
    min-width: auto;
  }
  .rocket-svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 20px;
  }
}

.learn-words-app-add-record-page {
  width: 100%;
  .learn-words-app-page-input-container,
  .learn-words-app-page-input-container,
  .page-input {
    width: 100%;
  }
  textarea {
    text-align: justify;
    padding: 0 25px 0 10px;
  }
}
